#chronosIII {
	color: rgb(255, 0, 0);
	strobe: 0.2;
}

#fg-led-dd-rgbw {
	color: red-white;
	strobe: 0.2;
}

#mini-dekker {
	color: rgb(255, 0, 0);
	strobe: 0.2;
}

#imac {
       color: rgb(255, 0, 0);
       animation: breathe 5s ease-in-out 0s infinite alternate;
}

@keyframes breathe {
   0%, 100% {
           color: #000;
   }
   50% {
           color: #fff;
   }
}