#mygroup {
	color: rgb(255, 255, 255);
}

#left {
	color: rgb(255, 0, 0);
	animation: red2green 5s ease 0s infinite alternate;
}

#right {
	color: rgb(0, 255, 0);
}

.off {
	color: rgb(0, 0, 0);
}

@keyframes red2green {
	0%, 100% {
		color: rgb(255, 0, 0);
	}
	50% {
		color: rgb(0, 255, 0);
	}
}