#chronosIII {
	color: rgba(255, 0, 0, 1);
	animation: red2green 5s ease 0s infinite alternate;
}

@keyframes red2green {
	0%, 100% {
		color: rgba(255, 0, 0, 1);
	}
	50% {
		color: rgba(255, 0, 0, 0);
	}
}